---
title: Webprogramozás az ELTE IK-n
layout: default
---

<section id="nav">
    <ul class="nav nav-justified">
        {% for page in site.subjects %}
            <li role="presentation">
                <a href="{{ page.permalink }}" class="nav-item nav-link text-white">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ul>
</section>

<section class="text-center feher">
    <h2>Tárgyak</h2>
    <div class="container">
        <div class="row text-center equal">
            {% for page in site.subjects %}
                {% if page.shortdesc %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>{{ page.title }}</h3>
                                <p>{{ page.shortdesc }}</p>
                                <a href="{{ page.permalink }}" class="btn btn-primary" role="button">
                                    Továbblépés az oldalra
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="text-center kek">
    <h2>Tananyagok</h2>
    <div class="container">
        <div class="row text-center equal">
            {% for page in site.materials %}
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <div class="caption">
                            <h3>{{ page.title }}</h3>
                            <p>{{ page.shortdesc }}</p>
                            <a href="{{ page.permalink }}" class="btn btn-primary" role="button">
                                Tananyag megtekintése
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="text-center sarga">
    <h2>Projektek</h2>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <p>A webes szoftvertechnológia labor keretében lehetőség van különböző webes projektekben részt venni. A projektek elsősorban a frontendre fókuszálnak, szerveroldalon az üzleti rétegig terjednek.</p>
            <a href="/webtech.html" class="btn btn-primary">Projektleírások</a>
        </div>
    </div>
</section>

<section id="footer">
    <footer class="container text-center">
        <div class="row">
            <p>Horváth Győző</p>
        </div>
    </footer>
</section>