---
---

.toc {
    top: 50px;

    li {
        list-style: none;
        padding: 5px 20px;  

        &:hover {
            background: rgba(0,0,0,.1);
        }
        
        a:hover {
            color: #4444FF;
            text-decoration: none;
        }
    }

    .toc-h2, .toc-h3 {
        display: none;
    }
}

// Régi CSS

section {
    padding-top: 0px;
    
    h1 {
        font-size: 32px;
        color: #444444;
        border-bottom: 5px solid #D6E7EE;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .figure img {
        display: block;
        margin: 20px auto;
    }
}

.affix {
	top: 60px;
}

@media (max-width: 767px) {
	.affix {
		top: 60px;
		position: static;
	}	
}

.jumbotron {
	margin-bottom: 0;
	background-color: #04356B;
	color: white;
}

#nav {
    padding: 0;
    background-color: #04356B;
    
    a {
        background-color: #04356B;
        color: white;
    }
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;

    h3 {
        font-size: 26px;
    }
}


section h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 36px;
}

.feher {
	background-color: white;
}

.sarga {
	background-color: #EFB900;	/*EFB900*/
	color: white;
}

.kek {
	background-color: #007777;	
	color: white;
}

#footer {
	background-color: #333333;
	color: white;
}

header {
	background-color: #012348;
	color: white;
}

header a, header a:hover, header a:focus, header a:active {
	color: white;
	background-color: #012348;
}


