<!doctype html>

<html lang="{{ page.lang }}">

<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="assets/css/style.css">

<div class="jumbotron bg-dark rounded-0 m-0">
    <div class="container text-center text-light">
        <h1>{{ page.title }}</h1>
    </div>
</div>

{{ content }}

</html>